     {% load static %}
    <!-- Footer Start Here -->
    <div class="np_footer_container">
        <div class="np_footer_top">
            <div class="np_footer_col1">
                <div class="np_footer_logo">
                    <img src="{% static 'media/image/new news logo.png' %}" alt="">
                </div>
            </div>
            <div class="np_footer_col2">
                <div class="np_footer_col_content">
                    <h3>कार्यालय</h3>
                    <p>SanoKhabar Media House</p>
                    <p>Kathmandu</p>
                </div>
            </div>
            <div class="np_footer_col3">
                <div class="np_footer_col_content">
                    <h3>सम्पर्क</h3>
                    <p> ९८______ , 98_______</p>
                    <h3>ईमेल</h3>
                    <p>sanokhabar@gmail.com</p>
                    <p> sanokhabarmediahouse@gmail.com </p>
                </div>
            </div>
            <div class="np_footer_col4">
                <div class="np_footer_col_content">
                    <h3>सूचना तथा प्रशारण विभाग दर्ता</h3>
                    <p>प्रकाशक : _______</p>
                        <p> सम्पादक : ______</p>
                        <p>सम्पर्क: <span>९८______</span></p>
                        <p> प्रविधि/सम्वाददाता : ______</p>
                        <p> व्यवस्थापक/सम्वाददाता : ______</p>
                </div>
            </div>
        </div>
        <div class="np_footer_bottom">
            <div class="np_footer_bottom_left">
                <p>@ Copyright 2022</p>
            </div>
            <div class="np_footer_bottom_right">
                <p>Powered By: Cyber Inquest Pvt. Ltd. </p>
            </div>
        </div>
    </div>
     <!-- Footer End Here -->
